<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="overview">
                <br>
                <br/>
                    <form method="POST">
                    <div class="form-group">
                            
                            <input type="text" class="form-control" placeholder="Team 1 Name" name="team1">

                        </div>    
                        <div class="form-group">
                           
                            <input type="text" class="form-control" placeholder="Team 2 Name" name="team2">
                            
                        </div>
                        <div class="form-group">
                            
                            <select class="form-control" name="team1url">
                                <option selected>Team 1 Url</option>
                                <option> RCB :- https://boilerplate.in/private/logos/rcb.png </option>
                                <option> CSK :- https://boilerplate.in/private/logos/csk.png </option>
                                <option> KXIP :- https://boilerplate.in/private/logos/kxip.png </option>
                                <option> RR :- https://boilerplate.in/private/logos/rr.png </option>
                                <option> MI :- https://boilerplate.in/private/logos/mi.png </option>
                                <option> SRH :- https://boilerplate.in/private/logos/srh.png </option>
                                <option> KKR :- https://boilerplate.in/private/logos/kkr.png </option>
                                <option> DC :- https://boilerplate.in/private/logos/dc_new.png </option>
                                
                            </select>
                        </div>
                        <div class="form-group">
                            
                            <select class="form-control" name="team2url">
                                <option selected>Team 2 Url</option>
                                <option> RCB :- https://boilerplate.in/private/logos/rcb.png </option>
                                <option> CSK :- https://boilerplate.in/private/logos/csk.png </option>
                                <option> KXIP :- https://boilerplate.in/private/logos/kxip.png </option>
                                <option> RR :- https://boilerplate.in/private/logos/rr.png </option>
                                <option> MI :- https://boilerplate.in/private/logos/mi.png </option>
                                <option> SRH :- https://boilerplate.in/private/logos/srh.png </option>
                                <option> KKR :- https://boilerplate.in/private/logos/kkr.png </option>
                                <option> DC :- https://boilerplate.in/private/logos/dc_new.png </option>
                                
                            </select>
                        </div>
                         <div class="form-group input-group-lg">
                            
                            <input type="text" class="form-control" placeholder="Match Date (DD/MM/YYYY)" name="matchdate">
                        </div>
                        <div class="form-group input-group-lg">
                            
                            <input type="text" class="form-control" placeholder="Match Location" name="matchloc">
                        </div>
                         <div class="form-group input-group-lg">
                            <input type="text" class="form-control" placeholder="Prediction" name="prediction">
                        </div>
                        <button type="submit" class="btn btn-success btn-md"> Submit </button>                        
                    </form>

            </div>
        </div>
    </div>
</div>