<div class="container">
	<div class="row">
		<form method="POST">
            <div class="form-group">
                <br>
				<br>
                <input type="text" class="form-control" placeholder="Enter Index" name="index">
            </div>  
			<button type="submit" class="btn btn-success btn-md"> Submit </button>                        
        </form>
	</div>
</div>
